<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div ng-cloak class="well">

                <a ng-click="openHistory()" class="btn btn-primary pull-right">Forecast History</a>
                <weather-details city-name="weather.city" lang="weather.lang"></weather-details>

            </div>
        </div>
        <div class="col-xs-6">
            <h3>Search for some other city</h3>
            <form name="searchForm" novalidate ng-submit="searchCity()">
                <div class="form-group">
                    <label for="cityName">Email address</label>
                    <input type="text" class="form-control" id="cityName" name="city"
                           ng-model="search.city"
                           placeholder="Enter name of the city" required>
                    <span class="label label-alert" ng-show="searchForm.city.$dirty && searchForm.city.$invalid">Name of the city must be specified</span>
                </div>
                <div class="form-group">
                    <label for="cityName">Email address</label>
                    <select class="form-control" name="lang" required
                            ng-init="search.lang = languages[0]"
                            ng-options="item.name for item in languages"
                            ng-model="search.lang"></select>
                </div>
                <button type="submit"
                        ng-disabled="searchForm.$invalid"
                        class="btn btn-primary btn-block">
                    Search
                </button>
                <span class="label label-alert" ng-show="error">{{error}}</span>
            </form>
        </div>

    </div>

</div>